<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Enlazar Reservas Online
        </div>

        <div class="content table-responsive table-full-widht panel-body">

          <div class="col-md-12" align="left">
            <button (click)="goToReservasPendientes()" class="btn btn-amarillo"><i class="fa fa-arrow-left"></i></button>
          </div>

          <div class="col-md-12" align="center">
            <p style="color:red" [hidden]="h_mensaje">Al parecer el <strong>PACIENTE YA SE ENCUENTRA REGISTRADO</strong>, verifique los datos.</p>
          </div>

          <div class="loading col-md-12" *ngIf="loading" align="center">
            <img src="../../../../assets/img/loader.gif" />
          </div>

          <div class="col-md-12" *ngIf="paciente">
            <div class="modal-header">
              <h4 class="modal-title">DATOS DEL PACIENTE</h4>
            </div>

            <div class="content table-responsive table-full-width panel-body">
              <div class="form-group col-md-4">
                <label class="">TIPO DE DOCUMENTO:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="tipo_documento" (change)="validar_habilitar_doc_ide()" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>LIBRETA ELECTORAL O DNI</option>
                    <option value=2>CARNET DE EXTRANJERIA</option>
                    <option value=3>REG. UNICO DE CONTRIBUYENTES (RUC P. NATURAL)</option>
                    <option value=4>PASAPORTE</option>
                    <option value=5>PART. DE NACIMIENTO-IDENTIDAD</option>
                    <option value=6>CÉDULA</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DOCUMENTO DE IDENTIDAD:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="doc_ide" [disabled]="habilitar_doc_ide">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">NACIONALIDAD:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="nacionalidad_id" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_n of e_nacionalidad" [value]=e_n.id>{{e_n.pais}}</option>
                  </select>
                </div>
              </div>
                  
              <div class="form-group col-md-4">
                <label class="">NOMBRES:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="nombres" [disabled]="h_nuevo_pac">
                </div>
              </div>
                        
              <div class="form-group col-md-4">
                <label class="">APELLIDO PATERNO:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="ap_paterno" [disabled]="h_nuevo_pac">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">APELLIDO MATERNO:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="ap_materno" [disabled]="h_nuevo_pac">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">F. NACIMIENTO:<span style="color:red">*</span></label>
                <input class="form-control" type="date" [(ngModel)]="fecha_nacimiento" [disabled]="h_nuevo_pac">
              </div>
    
              <div class="form-group col-md-4">
                <label class="">SEXO:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="Sexo" [(ngModel)]="sexo" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>MASCULINO</option>
                    <option value=2>FEMENINO</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DEPARTAMENTO (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="departamento_dom_id" (change)="listarProvincia()" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_d of e_departamento_dom" [value]=e_d.id>{{e_d.departamento}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">PROVINCIA (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="provincia_dom_id" (change)="listarDistrito()" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_p of e_provincia_dom" [value]=e_p.provincia_id>{{e_p.provincia}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DISTRITO (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="distrito_dom_id" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_di of e_distrito_dom" [value]=e_di.distrito_id>{{e_di.distrito}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DIRECCIÓN (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="domicilio" [disabled]="h_nuevo_pac">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">ESTADO CIVIL:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="estado_civil" [(ngModel)]="estado_civil" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>SOLTER(O)(A)</option>
                    <option value=2>CASAD(O)(A)</option>
                    <option value=3>VIUD(O)(A)</option>
                    <option value=4>DIVORCIAD(O)(A)</option>
                    <option value=5>CONVIVIENTE</option>
                    <option value=6>OTRO</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">PROFESION:</label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="profesion" [disabled]="h_nuevo_pac">
                </div>
              </div>
  
              <div class="form-group col-md-4">
                <label class="">T. SANGRE:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="tipo_sangre" [(ngModel)]="tipo_sangre" [disabled]="h_nuevo_pac">
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>A+</option>
                    <option value=2>A-</option>
                    <option value=3>B+</option>
                    <option value=4>B-</option>
                    <option value=5>AB+</option>
                    <option value=6>AB-</option>
                    <option value=7>O+</option>
                    <option value=8>O-</option>
                    <option value=9>Rh+</option>
                    <option value="10">Rh-</option>
                    <option value="11">DESCONOCE</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">CORREO ELECTRÓNICO:</label>
                <div class="">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="email" [disabled]="h_nuevo_pac">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">CELULAR:</label>
                <div class="">
                  <input type="number" class="form-control" placeholder="" [(ngModel)]="celular" [disabled]="h_nuevo_pac">
                </div>
              </div>
    
              <div class="form-group col-md-12">
                <div class="col-md-12" align="right">
                    <span style="color:red">* Campos Obligatorios</span>
                </div>
              </div>

              <div class="col-md-12" align="center">
                <button (click)="goToCrear()" [hidden]="h_crear" class="btn-verde-large">CREAR Y ENLAZAR</button>
                <button (click)="goToEnlazar()" [hidden]="h_enlazar" class="btn-azul-large">ENLAZAR</button>
              </div>
            </div>

            <div>
              <div class="modal-header">
                <h4 class="modal-title">DATOS DE LA CITA RESERVADA</h4>
              </div>
      
              <div class="content table-responsive table-full-width panel-body">
                <div class="form-group col-md-4">
                  <label class="">FECHA:</label>
                  <div class="">
                    <input type="text" disabled class="form-control" placeholder="" [(ngModel)]="fecha">
                  </div>
                </div>
                  
                <div class="form-group col-md-4">
                  <label class="">HORARIO:</label>
                  <div class="">
                    <input type="text" disabled class="form-control" placeholder="" [(ngModel)]="horario">
                  </div>
                </div>
                          
                <div class="form-group col-md-4">
                  <label class="">ESPECIALIDAD:</label>
                  <div class="">
                    <input type="text" disabled class="form-control" placeholder="" [(ngModel)]="especialidad">
                  </div>
                </div>
      
                <div class="form-group col-md-4">
                  <label class="">MÉDICO:</label>
                  <div class="">
                    <input type="text" disabled class="form-control" placeholder="" [(ngModel)]="medico">
                  </div>
                </div>
      
                <div class="form-group col-md-4">
                  <label class="">CONSULTORIO</label>
                  <input type="text" disabled class="form-control" [(ngModel)]="consultorio">
                </div>
      
                <div class="form-group col-md-4">
                  <label class="">COSTO: (S/.)</label>
                  <input  type="text"  disabled class="form-control" placeholder="" [(ngModel)]="costo" >
                </div>
              </div>
            </div>
          </div>



          

          <div class="backdrop" [ngStyle]="{'display':displayCP}"></div>
          <!-- /.modal !-->
          <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayCP}">
            <!-- /.modal-dialog -->
            <div class="modal-dialog" role="document">
              <!-- /.modal-content -->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear Paciente - Enlazar Cita</h4>
                </div>
                <div class="modal-body">
                  <div align="center">
                    <p><strong>¿Desea Agregar un Nuevo Paciente y enlazarlo con la Cita?</strong></p>
                    <p>
                      <button type="button" class="btn btn-azul" (click)="crear()" >Crear y Enlazar</button>
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-verde" (click)="onCloseHandled()" >Cerrar</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal CREAR PACIENTE!-->


          <div class="backdrop" [ngStyle]="{'display':displayE}"></div>
          <!-- /.modal !-->
          <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayE}">
            <!-- /.modal-dialog -->
            <div class="modal-dialog" role="document">
              <!-- /.modal-content -->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Enlazar Cita</h4>
                </div>
                <div class="modal-body">
                  <div align="center">
                    <p><strong>¿Desea enlazar el Paciente con la Cita?</strong></p>
                    <p>
                      <button type="button" class="btn btn-azul" (click)="enlazar()" >Enlazar Cita</button>
                    </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-verde" (click)="onCloseHandled()" >Cerrar</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal ENLAZAR!-->


        </div>
      </div>
    </div>
  </div>

</div>