    <!--app-spinner *ngIf="bandera"></app-spinner-->

    <div class="main-content">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="card panel panel-azul">
            <div class="panel-heading">
              Editar Paciente
            </div>

            <div class="content table-responsive table-full-width panel-body">
              <div class="form-group col-md-4">
                <label class="">TIPO DE DOCUMENTO:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="tipo_documento" disabled>
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>LIBRETA ELECTORAL O DNI</option>
                    <option value=2>CARNET DE EXTRANJERIA</option>
                    <option value=3>REG. UNICO DE CONTRIBUYENTES (RUC P. NATURAL)</option>
                    <option value=4>PASAPORTE</option>
                    <option value=5>PART. DE NACIMIENTO-IDENTIDAD</option>
                    <option value=6>CÉDULA</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DOCUMENTO DE IDENTIDAD:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="doc_ide" disabled>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="">NACIONALIDAD:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="nacionalidad_id" disabled>
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_n of e_nacionalidad" [value]=e_n.id>{{e_n.pais}}</option>
                  </select>
                </div>
              </div>
                  
              <div class="form-group col-md-4">
                <label class="">NOMBRES:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="nombres" disabled>
                </div>
              </div>
                          
              <div class="form-group col-md-4">
                <label class="">APELLIDO PATERNO:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="ap_paterno" disabled>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">APELLIDO MATERNO:<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="ap_materno" disabled>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">F. NACIMIENTO:<span style="color:red">*</span></label>
                <input class="form-control" type="date" [(ngModel)]="fecha_nacimiento" disabled>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">SEXO:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="Sexo" [(ngModel)]="sexo" disabled>
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>MASCULINO</option>
                    <option value=2>FEMENINO</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DEPARTAMENTO (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="departamento_dom_id" (change)="listarProvinciaChange()">
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_d of e_departamento_dom" [value]=e_d.id>{{e_d.departamento}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">PROVINCIA (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="provincia_dom_id" (change)="listarDistrito()">
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_p of e_provincia_dom" [value]=e_p.provincia_id>{{e_p.provincia}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DISTRITO (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="" [(ngModel)]="distrito_dom_id">
                    <option value=0>--SELECCIONAR--</option>
                    <option *ngFor = "let e_di of e_distrito_dom" [value]=e_di.distrito_id>{{e_di.distrito}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">DIRECCIÓN (DOMICILIO):<span style="color:red">*</span></label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="domicilio">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">ESTADO CIVIL:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="estado_civil" [(ngModel)]="estado_civil">
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>SOLTER(O)(A)</option>
                    <option value=2>CASAD(O)(A)</option>
                    <option value=3>VIUD(O)(A)</option>
                    <option value=4>DIVORCIAD(O)(A)</option>
                    <option value=5>CONVIVIENTE</option>
                    <option value=6>OTRO</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">PROFESION:</label>
                <div class="">
                  <input type="text" class="form-control capitalize" placeholder="" [(ngModel)]="profesion">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">T. SANGRE:<span style="color:red">*</span></label>
                <div class="">
                  <select  class="form-control" placeholder="tipo_sangre" [(ngModel)]="tipo_sangre">
                    <option value=0>--SELECCIONAR--</option>
                    <option value=1>A+</option>
                    <option value=2>A-</option>
                    <option value=3>B+</option>
                    <option value=4>B-</option>
                    <option value=5>AB+</option>
                    <option value=6>AB-</option>
                    <option value=7>O+</option>
                    <option value=8>O-</option>
                    <option value=9>Rh+</option>
                    <option value="10">Rh-</option>
                    <option value="11">DESCONOCE</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">CORREO ELECTRÓNICO:</label>
                <div class="">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="email">
                </div>
              </div>
    
              <div class="form-group col-md-4">
                <label class="">CELULAR:</label>
                <div class="">
                  <input type="number" class="form-control" placeholder="" [(ngModel)]="celular">
                </div>
              </div>    

              <div class="form-group col-md-12">
                <div class="col-md-6" align="left">
                    <span style="color:red">* Campos Obligatorios</span>
                </div>
    
                <div class="form-group col-md-6" align="right">
                  <button class="btn btn-azul" (click)="modificar()"><i class="fa fa-save"></i></button>
                  <button class="btn btn-cancelar" (click)="gotoPaciente()"><i class="fa fa-arrow-left"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>