<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Reporte de Ingresos de Citas
        </div>

        <div class="content table-responsive table-full-widht panel-body">
          <div class="col-md-12">
            <div class="form-group col-md-4">
              <label class="">Desde:</label>
              <input class="form-control" type="date" (change)="cargarDatos()" [(ngModel)] = "fecha_desde">
            </div>

            <div class="form-group col-md-4">
              <label class="">Hasta:</label>
              <input class="form-control" type="date" (change)="cargarDatos()" [(ngModel)] = "fecha_hasta">
            </div>

            <div class="form-group col-md-4" align="right">
              <button class="btn btn-rojo" align=""><i class="fa fa-arrow-circle-down"></i></button>
            </div>

            <div class="form-group col-md-12" align="left">
              <strong>TOTAL DE CITAS:  {{cantidad_citas}}</strong>
            </div>

            <div class="form-group col-md-12" align="left">
              <strong style="color:red">INGRESOS: S./ {{ingreso_citas}}</strong>
            </div>
          </div>

          <table class="table col-md-12">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Cantidad de Citas</th>
                <th>Total (S/.)</th>
                <th>Médico</th>
              </tr> 
            </thead>
            <tbody>
              <tr *ngFor = "let ci of e_citas">
                <td>{{ci.fecha}}</td>
                <td>{{ci.cantidad_citas}}</td>
                <td>{{ci.costo_final}}</td>
                <td>{{ci.nombre_medico}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>