<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading"> 
          Registrar especialidad
        </div>

        <div class="content table-responsive table-full-widtg panel-body">
            <div class="form-group col-md-6">
                <label class="">NOMBRE</label>
                <div class="">
                  <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group col-md-6">
                  <label class="">COSTO</label>
              <div class="">
                    <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-12" align="right">
              <button class="btn btn-azul">Guardar</button>
              <button class="btn btn-cancelar" (click)="regresar()">Regresar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>