<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Reporte de Citas por Atender
        </div>

        <div class="content table-responsive table-full-widht panel-body">
          <div class="col-md-12">

            <div class="form-group col-md-4">
              <label class="">Hasta:</label>
              <input class="form-control" type="date" (change)="cargarDatos()" [(ngModel)] = "fecha_hasta">
            </div>

            <div class="form-group col-md-8" align="right">
              <button class="btn btn-rojo" (click)="downloadPDF()" align=""><i class="fa fa-arrow-circle-down"></i></button>
            </div>   
            
        </div>
        <table class="table col-md-12">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Horario</th>
              <th>Paciente</th>
              <th>Medico</th>
            </tr> 
          </thead>
          <tbody>
            <tr *ngFor = "let ci of e_citas">
              <td>{{ci.fecha}}</td>
              <td>{{ci.hora_entrada}} - {{ci.hora_salida}}</td>
              <td>{{ci.nombre_paciente}}</td>
              <td>{{ci.nombre_medico}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

</div>