<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Mensajes
        </div>

        <div class="content table-responsive table-full-widht panel-body">
          <div class="col-md-12">

          <div class="loading col-md-12" *ngIf="loading" align="center">
            <img src="../../../../assets/img/loader.gif" />
          </div>
       
          <table class="table col-md-12" *ngIf="e_mensaje">
            <thead>
              <tr>
                <th>N° DOC</th>
                <th>Paciente</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Diagnóstico</th>
                <th>Medicamento</th>
                <th>Médico</th>
                <th>Estado</th>
              </tr> 
            </thead>
            <tbody>
              <tr *ngFor = "let e_t of e_mensaje">
                <td>{{e_t.doc_identidad}}</td>
                <td>{{e_t.nombre}}</td>
                <td>{{e_t.celular}}</td>
                <td>{{e_t.correo}}</td>
                <td>{{e_t.diagnostico}}</td>
                <td>{{e_t.medicamento}}</td>
                <td>{{e_t.medico}}</td>
                <td>{{e_t.estado}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>