    <div class="main-content">
            <div class="container-fluid">
              <div class="col-md-12">
                <div class="card panel panel-azul">
                  <div class="panel-heading">
                    Listado de Turnos de Atención
                  </div>
      
                  <div class="content table-responsive table-full-width panel-body">
                        <div class="form-group col-md-8">
                            <button class="btn btn-azul btn-wd" (click)="goToRegistrar()"><i class="fa fa-plus"></i> NUEVO TURNO</button>
                        </div>

                        <div class="form-group col-md-4" align="right">
                            <input type="text" class="buscar" (keyup)="filtro($event.target.value)" [(ngModel)]="buscar" placeholder="Buscar Médico/Consultorio">
                        </div>

                        <div class="form-group col-md-12">
                            <label class="">FECHA:</label>
                            <input class="form-control" type="date" [(ngModel)]="fecha" (change)="listar_segun_fecha()">
                        </div>
                            
                        <div class="loading col-md-12" *ngIf="loading" align="center">
                            <img src="../../../../assets/img/loader.gif" />
                        </div>
                                     
                        <table class="table col-md-12" *ngIf="elemento">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Médico</th>
                                    <th>Consultorio</th>
                                    <th>Horario</th>
                                    <th>Citas Disponibles</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let e of elemento">
                                    <td>{{e.fecha_turno}}</td>
                                    <td>{{e.nombres}} {{e.apellido_paterno}} {{e.apellido_materno}}</td>
                                    <td>{{e.numero_consultorio}}</td>
                                    <td>{{e.hora_entrada}} - {{e.hora_salida}}</td>
                                    <td>{{e.total_citas}}</td>
                                    <td>
                                        <button [hidden]="!e.estado" (click)="gotoEditar(e.id)" class="btn-amarillo-icon"><i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
