.i-text{
    margin-top: -4px;
    font-style: normal;
    margin-right: 30px !important;
    font-size: 20px !important;
    font-weight: bold;
}

.a-children{
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
}

.span-children{
    margin-left: 0px;
}

.simple-text{
    padding: 0px !important;
}

.simple-text{
    text-align: center !important;
}

.logo-img img{
    margin-left:0px !important;
}

.logo-img img{
    position: relative;
}

.logo-img{
    margin-right: 0px !important;
    width: 100%;
    max-height: 100%;
    display: block;
    padding-bottom: 20px;
}

.logo{
    padding: 0px !important;
    cursor: pointer;
}

.collapse .nav .a-children{
    padding-left: 15px !important;
}

.nav .a-children {
    padding-left: 15px !important;
    padding: 5px 15px;
}

.sidebar-wrapper{
    padding-bottom: 0px !important;
}