
<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Historia Clínica N° 00000
        </div>

        <div class="content table-responsive table-full-width panel-body">
          <div class="form-group col-md-6" align="left">
            <button class="btn btn-amarillo" (click)="regresar()"><i class="fa fa-arrow-left"></i></button>
          </div>
          
          <div class="form-group col-md-6" align="right">
            <button class="btn btn-verde" (click)="gotoHistorialEpisodios()">VER EPISODIOS <i class="fa fa-list"></i></button>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>DATOS GENERALES</strong>
          </div>

          <div class="form-group col-md-4">
            <label class="">PACIENTE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="paciente" disabled>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">DNI</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="dni" disabled>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">SEXO</label>
            <div class="">
              <select  class="form-control" placeholder="Sexo" [(ngModel)]="sexo" disabled>
                <option value=1>MASCULINO</option>
                <option value=2>FEMENINO</option>
              </select>
            </div>
          </div>
          
          <div class="form-group col-md-4">
            <label class="">DOMICILIO</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="domicilio">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="">F. NACIMIENTO</label>
            <div class="">
              <input type="date" class="form-control" placeholder="" [(ngModel)]="fecha_nacimiento" disabled>
            </div>
          </div>
          
          <div class="form-group col-md-2">
            <label class="">EDAD</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="edad" disabled>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">ESTADO CIVIL</label>
            <div class="">
              <select  class="form-control" placeholder="estado_civil" [(ngModel)]="estado_civil" >
                <option value=1>SOLTER(O)(A)</option>
                <option value=2>CASAD(O)(A)</option>
                <option value=3>VIUD(O)(A)</option>
                <option value=4>DIVORCIAD(O)(A)</option>
                <option value=5>CONVIVIENTE</option>
                <option value=6>OTRO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="">PROFESIÓN</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="profesion">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">T. SANGRE</label>
            <div class="">
              <select  class="form-control" placeholder="tipo_sangre" [(ngModel)]="tipo_sangre">
                <option value=1>A+</option>
                <option value=2>A-</option>
                <option value=3>B+</option>
                <option value=4>B-</option>
                <option value=5>AB+</option>
                <option value=6>AB-</option>
                <option value=7>O+</option>
                <option value=8>O-</option>
                <option value=9>NO SABE</option>
              </select>
            </div>
          </div>


          <div class="form-group col-md-12">
            <strong>ANTECEDENTES FAMILIARES</strong>
          </div>

          <div class="form-group col-md-6">
            <label class="">MADRE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_madre">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="">PADRE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_padre">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="">HERMANOS</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_hermanos">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="">HIJOS</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_hijos">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">OTROS FAMILIARES</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_otros_familiares">
            </div>
          </div>

          <div class="form-group col-md-12">
            <strong>ANTECEDENTES TOXICOLÓGICOS</strong>
          </div>

          <div class="form-group col-md-4">
            <label class="">ALCOHOL</label>
            <div class="">
              <select  class="form-control" placeholder="alcohol" [(ngModel)]="ant_alcohol">
                <option value=1>SÍ</option>
                <option value=2>NO</option>
                <option value=3>EN EL PASADO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="">TABACO</label>
            <div class="">
              <select  class="form-control" placeholder="tabaco" [(ngModel)]="ant_tabaco">
                <option value=1>SÍ</option>
                <option value=2>NO</option>
                <option value=3>EN EL PASADO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="">DROGA</label>
            <div class="">
              <select  class="form-control" placeholder="droga" [(ngModel)]="ant_droga">
                <option value=1>SÍ</option>
                <option value=2>NO</option>
                <option value=3>EN EL PASADO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">OBSERVACIONES TOXICOLÓGICAS</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_observaciones_toxicologicas">
            </div>
          </div>

          <div class="form-group col-md-12">
            <strong>ANTECEDENTES GENERALES</strong>
          </div>
  
          <div class="form-group col-md-2">
            <label class="">HOSPITALIZACIONES</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="ant_hospitalizaciones">
            </div>
          </div>
  
          <div class="form-group col-md-2">
            <label class="">INFARTOS</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="ant_infartos">
            </div>
          </div>
  
          <div class="form-group col-md-2">
            <label class="">INTERVENCIONES</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="ant_intervenciones">
            </div>
          </div>
            
          <div class="form-group col-md-6">
            <label class="">ALERGENOS</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_alergenos">
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="">FÁRMACO(S) QUE CONSUME</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_farmacos_consume">
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="">ENFERMEDAD(ES) QUE PADECE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_enfermedades_padece">
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="">ENFERMEDAD(ES) QUE PADECIÓ</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_enfermedades_padecio">
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label class="">OTROS ANTECEDENTES</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ant_otros_antecedentes">
            </div>
          </div>

          <div class="form-group col-md-12">
            <strong>EVALUACIÓN</strong>
          </div>

          <div class="form-group col-md-2">
            <label class="">TALLA</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="talla">
            </div>
          </div>
  
          <div class="form-group col-md-2">
            <label class="">PESO (KG)</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="peso">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">PRESIÓN</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="presion">
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="">EXÁMENES REALIZADOS Y RESULTADOS</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examenes_realizados">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">SIGNOS</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="signos">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">SÍNTOMAS</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="sintomas">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">EXÁMENES QUE DEBE REALIZARSE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examenes_por_realizarse">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">DIAGNÓSTICO MÉDICO</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="diagnostico_medico">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">RECETA / TRATAMIENTO MÉDICO</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="receta_tratamiento_medico">
            </div>
          </div>

          <div class="form-group col-md-12" align="center">
            <br>
            <button class="btn btn-azul" (click)="guardarEpisodioHistoria()">FINALIZAR CITA <i class="fa fa-save"></i></button>
          </div>


          <div class="backdrop" [ngStyle]="{'display':displayE}"></div>
          <!-- /.modal !-->
          <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayE}">
            <!-- /.modal-dialog -->
            <div class="modal-dialog" role="document">
              <!-- /.modal-content -->
              <div class="modal-content modal-contenido">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Historial de Citas</h4>
                </div>
                <div class="modal-body">
                  <div>
                    <table class="table col-md-12">
                      <thead>
                        <tr>
                          <th>Fecha</th>
                          <th>Signos</th>
                          <th>Síntomas</th>
                          <th>Diagnóstico</th>
                          <th>Receta/Tratamiento</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let e_c of e_cita">
                          <td>{{e_c.fecha}}</td>
                          <td>{{e_c.signos}}</td>
                          <td>{{e_c.sintomas}}</td>
                          <td>{{e_c.diagnostico_medico}}</td>
                          <td>{{e_c.receta_tratamiento_medico}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-verde" (click)="onCloseHandled()" >Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal HISTORIAL!-->

          
        </div>
      </div>
    </div>
  </div>
</div>