
<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Historia Clínica N° {{dni}}
        </div>

        <div class="content table-responsive table-full-width panel-body">
          <div class="form-group col-md-6" align="left">
            <button class="btn btn-amarillo" (click)="regresar()"><i class="fa fa-arrow-left"></i></button>
          </div>
          
          <div class="form-group col-md-6" align="right">
            <button class="btn btn-verde" (click)="gotoHistorialEpisodios()">VER EPISODIOS <i class="fa fa-list"></i></button>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">I. DATOS GENERALES</strong>
          </div>

          <div class="form-group col-md-4">
            <label class="">PACIENTE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="paciente" disabled>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">DNI</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="dni" disabled>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">SEXO</label>
            <div class="">
              <select class="form-control" placeholder="Sexo" [(ngModel)]="sexo" disabled>
                <option value=1>MASCULINO</option>
                <option value=2>FEMENINO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">F. NACIMIENTO</label>
            <div class="">
              <input type="date" class="form-control" placeholder="" [(ngModel)]="fecha_nacimiento" disabled>
            </div>
          </div>
          
          <div class="form-group col-md-2">
            <label class="">EDAD</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="edad" disabled>
            </div>
          </div>
          
          <div class="form-group col-md-4">
            <label class="">NACIONALIDAD</label>
            <div class="">
              <select  class="form-control" placeholder="pais" [(ngModel)]="pais">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>MASCULINO</option>
                <option value=2>FEMENINO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">ESTADO CIVIL</label>
            <div class="">
              <select  class="form-control" placeholder="estado_civil" [(ngModel)]="estado_civil" >
                <option value=1>SOLTER(O)(A)</option>
                <option value=2>CASAD(O)(A)</option>
                <option value=3>VIUD(O)(A)</option>
                <option value=4>DIVORCIAD(O)(A)</option>
                <option value=5>CONVIVIENTE</option>
                <option value=6>OTRO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label class="">PROFESIÓN</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="profesion">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">T. SANGRE</label>
            <div class="">
              <select  class="form-control" placeholder="tipo_sangre" [(ngModel)]="tipo_sangre">
                <option value=1>A+</option>
                <option value=2>A-</option>
                <option value=3>B+</option>
                <option value=4>B-</option>
                <option value=5>AB+</option>
                <option value=6>AB-</option>
                <option value=7>O+</option>
                <option value=8>O-</option>
                <option value=9>NO SABE</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>DOMICILIO</strong>
          </div>

          <div class="form-group col-md-3">
            <label class="">DEPARTAMENTO</label>
            <div class="">
              <select class="form-control" placeholder="departamento" [(ngModel)]="departamento">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>MASCULINO</option>
                <option value=2>FEMENINO</option>
              </select>
            </div>
          </div>
  
          <div class="form-group col-md-3">
            <label class="">PROVINCIA</label>
            <div class="">
              <select class="form-control" placeholder="provincia" [(ngModel)]="provincia">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>MASCULINO</option>
                <option value=2>FEMENINO</option>
              </select>
            </div>
          </div>
  
          <div class="form-group col-md-3">
            <label class="">DISTRITO</label>
            <div class="">
              <select class="form-control" placeholder="distrito" [(ngModel)]="distrito">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>MASCULINO</option>
                <option value=2>FEMENINO</option>
              </select>
            </div>
          </div>
  
          <div class="form-group col-md-3">
            <label class="">DIRECCIÓN</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="domicilio">
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">II. SIGNOS VITALES</strong>
          </div>

          <div class="form-group col-md-2">
            <label class="">FC</label>
            <div class="">
              <input type="number" class="form-control" placeholder="min" [(ngModel)]="fc">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">FR</label>
            <div class="">
              <input type="number" class="form-control" placeholder="min" [(ngModel)]="fr">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">P/A</label>
            <div class="">
              <input type="text" class="form-control" placeholder="a/b mmHg" [(ngModel)]="presion">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">Tª</label>
            <div class="">
              <input type="number" class="form-control" placeholder="Cª" [(ngModel)]="t">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">PESO (KG)</label>
            <div class="">
              <input type="number" (keyup)="calcular_imc()" class="form-control" placeholder="Kg" [(ngModel)]="peso">
            </div>
          </div>
            
          <div class="form-group col-md-2">
            <label class="">TALLA (M)</label>
            <div class="">
              <input type="number" (keyup)="calcular_imc()" class="form-control" placeholder="m" [(ngModel)]="talla">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">IMC</label>
            <div class="">
              <input type="number" class="form-control" placeholder="Kg/m2" [(ngModel)]="imc">
            </div>
          </div>
              
          <div class="form-group col-md-2">
            <label class="">DMO</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="dmo">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>OSTEOPENIA</option>
                <option value=3>OSTEOSPOROSIS</option>
              </select>
            </div>
          </div>
    
          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">III. MOTIVO CONSULTA</strong>
          </div>

          <div class="form-group col-md-10">
            <label class="">HISTORIA DE PADECIMIENTO ACTUAL</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="historia_padecimiento_actual">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">DOLOR (EVA: 0 - 10)</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="intensidad_dolor">
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">IV. ANTECEDENTES</strong>
          </div>
  
          <div class="form-group col-md-3">
            <label class="">¿TRABAJA?</label>
            <div class="">
              <select class="form-control" placeholder="trabaja" [(ngModel)]="trabaja">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>SÍ</option>
                <option value=2>NO</option>
              </select>
            </div>
          </div>
  
          <div class="form-group col-md-3">
            <label class="">OCUPACIÓN</label>
            <div class="">
              <select class="form-control" placeholder="ocupacion" [(ngModel)]="ocupacion">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>ARQUITECTO</option>
                <option value=2>INGENIERO</option>
              </select>
            </div>
          </div>
  
          <div class="form-group col-md-3">
            <label class="">TIEMPO DE ÚLTIMO TRABAJO</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="tiempo_trabajo">
            </div>
          </div>
            
          <div class="form-group col-md-3">
            <label class="">GRADO DE INSTRUCCIÓN</label>
            <div class="">
              <select class="form-control" placeholder="grado_instruccion" [(ngModel)]="grado_instruccion">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NINGUNO</option>
                <option value=2>PRIMARIO</option>
                <option value=3>SECUNDARIO</option>
                <option value=4>SUPERIOR</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>ANTECEDENTES PATOLÓGICOS</strong>
          </div>
  
          <div class="form-group col-md-2">
            <label class="">ENF. CARDIOVASCULAR</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="enfermedad_cardiovascular_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>ANORMAL</option>
                <option value=3>DESCONOCE</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ENFERMEDAD CARDIOVASCULAR" [(ngModel)]="enfermedad_cardiovascular">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">ENF. PULMONAR</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="enfermedad_pulmonar_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>ANORMAL</option>
                <option value=3>DESCONOCE</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ENFERMEDAD PULMONAR" [(ngModel)]="enfermedad_pulmonar">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">DIABETES MIELLITUS</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="diabetes_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>ANORMAL</option>
                <option value=3>DESCONOCE</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DIABETES MIELLITUS" [(ngModel)]="diabetes">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">ALERGIAS ALIMENTARIAS</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="alergias_alimentarias_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>ANORMAL</option>
                <option value=3>DESCONOCE</option>
              </select>
            </div>
          </div>
  
          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ALERGIAS ALIMENTARIAS" [(ngModel)]="alergias_alimentarias">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">ALERGIAS MEDICAMENTOSAS</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="alergias_medicamentosas_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>ANORMAL</option>
                <option value=3>DESCONOCE</option>
              </select>
            </div>
          </div>
    
          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ALERGIAS MEDICAMENTOSAS" [(ngModel)]="alergias_medicamentosas">
            </div>
          </div>
          
          <div class="form-group col-md-2">
            <label class="">COLESTEROL</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="colesterol_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>ANORMAL</option>
                <option value=3>DESCONOCE</option>
              </select>
            </div>
          </div>
    
          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="COLESTEROL" [(ngModel)]="colesterol">
            </div>
          </div>
          
          <div class="form-group col-md-2">
            <label class="">T3, T4, TSH</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="tsh_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NORMAL</option>
                <option value=2>ANORMAL</option>
                <option value=3>DESCONOCE</option>
              </select>
            </div>
          </div>
    
          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="T3, T4, TSH" [(ngModel)]="tsh">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">QUIRÚRGICOS</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="quirurgicos_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>SÍ</option>
                <option value=2>NO</option>
              </select>
            </div>
          </div>
      
          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="QUIRÚRGICOS" [(ngModel)]="quirurgicos">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">OTROS ANTECEDENTES</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="otros_antecedentes">
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">V. EXAMEN</strong>
          </div>

          <!--EXAMEN-->
          <div class="form-group col-md-12">
            <label class="">Piel, Integumentario, Linfatico</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_piel">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Cabeza, Cara, Cuello</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_cabeza">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Ojo, Oido, Nariz, Garganta</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_ojo">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Tórax , Mama</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_torax">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Ap. Respiratorio</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_ap_respiratorio">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Ap. Cardiovascular</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_ap_cardiovascular">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Ap. Gastrointestinal</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_ap_gastrointestinal">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Ap. Genitourinario</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_ap_genitourinario">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Ap. Músculo - Esquelético</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_ap_musculo">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="">Neurológico</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="examen_neurologico">
            </div>
          </div>


          
          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">VI. AYUDA DIAGNÓSTICA</strong>
          </div>

          <div class="form-group col-md-2">
            <label class="">ANÁLISIS LABORATORIO</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="analisis_laboratorio_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
                <option value=3>NORMAL</option>
                <option value=4>ANORMAL</option>
              </select>
            </div>
          </div>
      
          <div class="form-group col-md-10">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ANÁLISIS LABORATORIO" [(ngModel)]="analisis_laboratorio">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">RX</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="rayosx_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
                <option value=3>NORMAL</option>
                <option value=4>ANORMAL</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">TOMOGRAFÍA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="tomografia_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
                <option value=3>NORMAL</option>
                <option value=4>ANORMAL</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">RESONANCIA MAGNÉTICA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="resonancia_magnetica_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
                <option value=3>NORMAL</option>
                <option value=4>ANORMAL</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">GAMMAGRAFÍA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="gammagrafia_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
                <option value=3>NORMAL</option>
                <option value=4>ANORMAL</option>
              </select>
            </div>
          </div>
        
          <div class="form-group col-md-12">
            <label class="">DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="IMAGENOLOGÍA" [(ngModel)]="imagenologia">
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">VII. DIAGNÓSTICO</strong>
          </div>

          <!--DIAGNÓSTICO-->
          <div class="col-md-6">
            <div class="card col-md-12">
              <br>
              <div class="card-header" data-background-color="blue">
                <h5 class="text-danger">ENFERMEDADES (CIE 10)</h5>
              </div>
              <div class="card-content table-responsive">
                <div align="right">
                  <form class="">
                    <div class="col-md-12">
                      <input type="text" class="form-control" (keyup)="filtro($event.target.value)" placeholder="CIE 10 / ENFERMEDAD">
                      <span class="material-input"></span>
                    </div>
                    
                    <div class="loading col-md-12" *ngIf="loading" align="center">
                        <img src="../../../../assets/img/loader.gif" />
                    </div>
                    
                  </form>             
                </div>
                <table class="table col-md-12 list" *ngIf="e_cie">
                  <thead class="text-danger">
                    <tr>
                      <th class="col-md-2">CIE 10</th>
                      <th>ENFERMEDAD</th>
                      <th>AGREGAR</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr *ngFor="let e of e_cie" class="list-item">
                      <td>{{e.id}}</td>
                      <td>{{e.enfermedad}}</td>
                      <td>
                        <button class="btn btn-verde btn-round btn-fill btn-venta" (click)="agregar_carrito(e.id, e.enfermedad)">
                          <i class="fa fa-check"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--DIAGNÓSTICO-->

          <!--CARRITO DIAGNÓSTICO-->
          <div class="col-md-6">
            <div class="card col-md-12">
              <br>
              <div class="card-header" data-background-color="blue">
                <h5 class="col-md-9 text-danger">DIAGNÓSTICOS</h5>
                <h5 class="col-md-3 text-danger">CANT. {{cant_diag}}</h5>
              </div>

              <div class="card-content table-responsive">
                <table class="table list-nro-diag">
                  <thead class="text-danger">
                    <tr>
                      <th class="col-md-2">CIE 10</th>
                      <th class="col-md-8">ENFERMEDAD</th>
                      <th class="col-md-2">QUITAR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let e_d of diagnostico" class="list-item">
                      <td>{{e_d.id}}</td>
                      <td>{{e_d.enfermedad}}</td>
                      <td>
                        <button class="btn btn-rojo btn-round btn-fill btn-default btn-just-icon" (click)="quitar(e_d.id)">
                          <i class="fa fa-trash text-white"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--CARRITO DIAGNÓSTICO-->
  
          <div class="form-group col-md-10">
            <label class="">DETALLES DE DIAGNÓSTICO</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLES DE DIAGNÓSTICO" [(ngModel)]="diagnostico_detalle">
            </div>
          </div>
  
          <div class="form-group col-md-2">
            <label class="">PRONÓSTICO</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="quirurgicos_est">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>BUENO PARA LA VIDA</option>
                <option value=2>BUENO PARA LA FUNCIÓN</option>
                <option value=3>RESERVADO</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">VIII. INDICACIONES</strong>
          </div>

          <div class="form-group col-md-2">
            <label class="">ACTIVIDAD FÍSICA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="actividad_fisica">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>DESCANSO MÉDICO</option>
                <option value=2>REPOSO RELATIVO</option>
                <option value=3>NO ESFUERZO FÍSICO</option>
                <option value=4>ACTIVIDAD NORMAL</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">N° DÍAS DE DESCANSO</label>
            <div class="">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="dias_descanso">
            </div>
          </div>
  
          <div class="form-group col-md-12">
            <br>
            <strong>MEDICAMENTOSA</strong>
          </div>

          <div class="form-group col-md-3">
            <label class="">MEDICAMENTO N° 01</label>
            <div class="">
              <input type="text" class="form-control" placeholder="MEDICAMENTO" [(ngModel)]="medicamento_1">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">FRECUENCIA Y DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="medicamento_1_detalle">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">MEDICAMENTO N° 02</label>
            <div class="">
              <input type="text" class="form-control" placeholder="MEDICAMENTO" [(ngModel)]="medicamento_2">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">FRECUENCIA Y DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="medicamento_2_detalle">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">MEDICAMENTO N° 03</label>
            <div class="">
              <input type="text" class="form-control" placeholder="MEDICAMENTO" [(ngModel)]="medicamento_3">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">FRECUENCIA Y DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="medicamento_3_detalle">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">MEDICAMENTO N° 04</label>
            <div class="">
              <input type="text" class="form-control" placeholder="MEDICAMENTO" [(ngModel)]="medicamento_4">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">FRECUENCIA Y DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="medicamento_4_detalle">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">MEDICAMENTO N° 05</label>
            <div class="">
              <input type="text" class="form-control" placeholder="MEDICAMENTO" [(ngModel)]="medicamento_5">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">FRECUENCIA Y DETALLE</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="medicamento_5_detalle">
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>MEDICINA RECUPERATIVA</strong>
          </div>

          <div class="form-group col-md-3">
            <label class="">FISIOTERAPIA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="med_rec_fisioterapia">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">TIPO DE FISIOTERAPIA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="tipo_fisioterapia">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>MAGNETO</option>
                <option value=2>ULTRASONIDO</option>
                <option value=3>ONDAS DE CHOQUE</option>
                <option value=4>ELECTRO ESTIMULACIÓN</option>
                <option value=5>OTROS</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">OTRO TIPO DE FISIOTERAPIA</label>
            <div class="">
              <input type="text" class="form-control" placeholder="OTRO TIPO DE FISIOTERAPIA" [(ngModel)]="tipo_fisioterapia_otros">
            </div>
          </div>
          
          <div class="form-group col-md-3">
            <label class="">MEDICINA FÍSICA REHABILITACIÓN</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="med_rec_med_fis_reha">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>MEDICINA ALTERNATIVA</strong>
          </div>

          <div class="form-group col-md-2">
            <label class="">FITOTERAPIA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="med_alt_fitoterapia">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NO</option>
                <option value=2>SÍ</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">FOTOHEMOTERAPIA</label>
            <div class="">
              <input type="number" class="form-control" placeholder="N° DE VECES REALIZADO" min="0" [(ngModel)]="med_alt_fotohemoterapia">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">PRP</label>
            <div class="">
              <input type="number" class="form-control" placeholder="N° DE VECES REALIZADO" min="0" [(ngModel)]="med_alt_prp">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">CÉLULAS MADRE</label>
            <div class="">
              <input type="number" class="form-control" placeholder="N° DE VECES REALIZADO" min="0" [(ngModel)]="med_alt_cel_madre">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">INFILTRACIÓN</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="med_alt_infiltracion">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>NINGUNO</option>
                <option value=2>MEDICAMENTOSO</option>
                <option value=3>NO MEDICAN</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">BARO CÁMARA</label>
            <div class="">
              <input type="number" class="form-control" placeholder="N° DE VECES REALIZADO" min="0" [(ngModel)]="med_alt_baro_camara">
            </div>
          </div>

          <div class="form-group col-md-2">
            <label class="">OZONOTERAPIA</label>
            <div class="">
              <input type="number" class="form-control" placeholder="N° DE VECES REALIZADO" min="0" [(ngModel)]="med_alt_ozonoterapia">
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>ESTILO DE VIDA</strong>
          </div>

          <div class="form-group col-md-3">
            <label class="">CAMBIO DE ESTILO DE VIDA</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="estilo_vida">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>TROTE</option>
                <option value=2>DANZA</option>
                <option value=3>SPA</option>
                <option value=4>NATACIÓN</option>
                <option value=5>OTROS</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="">OTRO CAMBIO DE ESTILO DE VIDA</label>
            <div class="">
              <input type="text" class="form-control" placeholder="OTRO CAMBIO DE ESTILO DE VIDA" [(ngModel)]="estilo_vida_otros">
            </div>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>INTERCONSULTAS</strong>
          </div>

          <div class="form-group col-md-3">
            <label class="">INTERCONSULTA N° 01</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ESPECIALIDAD" [(ngModel)]="interconsulta_1">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">DETALLE DE INTERCONSULTA</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="interconsulta_1_detalle">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">INTERCONSULTA N° 02</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ESPECIALIDAD" [(ngModel)]="interconsulta_2">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">DETALLE DE INTERCONSULTA</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="interconsulta_2_detalle">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label class="">INTERCONSULTA N° 03</label>
            <div class="">
              <input type="text" class="form-control" placeholder="ESPECIALIDAD" [(ngModel)]="interconsulta_3">
            </div>
          </div>

          <div class="form-group col-md-9">
            <label class="">DETALLE DE INTERCONSULTA</label>
            <div class="">
              <input type="text" class="form-control" placeholder="DETALLE" [(ngModel)]="interconsulta_3_detalle">
            </div>
          </div>

          

          <div class="form-group col-md-12">
            <br>
            <strong>SOLICITUD DE ESTUDIOS</strong>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">IX. OBSERVACIONES</strong>
          </div>

          <div class="form-group col-md-12">
            <br>
            <strong>RECOMENDACIONES</strong>
          </div>

          <div class="form-group col-md-3">
            <label class="">¿QUIÉN LO RECOMENDÓ?</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="recomendacion">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>FAMILIAR</option>
                <option value=2>AMIGO</option>
                <option value=3>MÉDICO</option>
                <option value=4>FACEBOOK</option>
                <option value=5>PÁGINA WEB</option>
                <option value=6>PUBLICIDAD</option>
                <option value=7>NADIE</option>
              </select>
            </div>
          </div>


          <div class="form-group col-md-12">
            <br>
            <strong style="color:red">X. REMUNERACIÓN</strong>
          </div>
          
          <div class="form-group col-md-3">
            <label class="">TIPO</label>
            <div class="">
              <select class="form-control" placeholder="" [(ngModel)]="remuneracion">
                <option value=0>--SELECCIONAR--</option>
                <option value=1>AD HONOREM</option>
                <option value=2>CONSULTA MÉDICA</option>
                <option value=3>CONTROL MÉDICO</option>
                <option value=4>CAMPAÑA MÉDICA</option>
              </select>
            </div>
          </div>












          <div class="form-group col-md-12" align="center">
            <br>
            <button class="btn btn-azul" (click)="guardarEpisodioHistoria()">FINALIZAR CITA <i class="fa fa-save"></i></button>
          </div>


          <div class="backdrop" [ngStyle]="{'display':displayE}"></div>
          <!-- /.modal !-->
          <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayE}">
            <!-- /.modal-dialog -->
            <div class="modal-dialog" role="document">
              <!-- /.modal-content -->
              <div class="modal-content modal-contenido">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Historial de Citas</h4>
                </div>
                <div class="modal-body">
                  <div>
                    <table class="table col-md-12">
                      <thead>
                        <tr>
                          <th>Fecha</th>
                          <th>Signos</th>
                          <th>Síntomas</th>
                          <th>Diagnóstico</th>
                          <th>Receta/Tratamiento</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let e_c of e_cita">
                          <td>{{e_c.fecha}}</td>
                          <td>{{e_c.signos}}</td>
                          <td>{{e_c.sintomas}}</td>
                          <td>{{e_c.diagnostico_medico}}</td>
                          <td>{{e_c.receta_tratamiento_medico}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-verde" (click)="onCloseHandled()" >Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal HISTORIAL!-->

          
        </div>
      </div>
    </div>
  </div>
</div>