<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Reporte de Reservas Pendientes
        </div>

        <div class="content table-responsive table-full-widht panel-body">
          <div class="col-md-12">

            <div class="form-group col-md-4">
              <label class="">Hasta:</label>
              <input class="form-control" type="date" (change)="cargarDatos()" [(ngModel)] = "fecha_hasta">
            </div>

            <!--div class="form-group col-md-4">
              <label class="">Hasta:</label>
              <ng-datepicker (ngModelChange)="cargarDatos()" [(ngModel)]="fecha_hasta"> </ng-datepicker>
            </div-->

            <div class="form-group col-md-8" align="right">
              <button class="btn btn-rojo"><i class="fa fa-arrow-circle-down"></i></button>
            </div>
        </div>
        <table class="table col-md-12">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Horario</th>
              <th>Paciente</th>
              <th>Medico</th>
            </tr> 
          </thead>
          <tbody>
            <tr *ngFor = "let re of e_reservas">
              <td>{{re.fecha}}</td>
              <td>{{re.horario}}</td>
              <td>{{re.nombre_paciente}}</td>
              <td>{{re.nombre_medico}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

</div>