    <!--app-spinner *ngIf="bandera"></app-spinner-->

    <div class="main-content">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="card panel panel-azul">
            <div class="panel-heading">
              Registrar Turno
            </div>

            <div class="content table-responsive table-full-width panel-body">
              <div class="form-group col-md-6">
                <label class="">ESPECIALIDAD:</label>
                <div class="">
                  <select class="form-control" placeholder="especialidad" (change)="cargarMedicos($event.target.value)" [(ngModel)]="especialidad">
                    <option value="0">Seleccionar ...</option>
                    <option *ngFor = "let es of e_especialidad" value="{{es.id}}">{{es.nombre}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label class="">MÉDICO:</label>
                <div class="">
                  <select class="form-control" placeholder="medico" [(ngModel)]="medico">
                    <option value="0">Seleccionar ...</option>
                    <option *ngFor = "let me of e_medico" value="{{me.id}}">{{me.nombre_medico}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-md-6">
                  <label class="">FECHA:</label>
                  <input class="form-control" type="date" [(ngModel)]="fecha">
              </div>

              <div class="form-group col-md-6">
                <label class="">TOTAL CITAS:</label>
                <input class="form-control" type="number" [(ngModel)]="total_citas">
              </div>

              <div class="form-group col-md-6">
                <label class="">CONSULTORIO:</label>
                <div class="">
                  <select class="form-control" placeholder="consultorio" [(ngModel)]="consultorio">
                    <option value="0">Seleccionar ...</option>
                    <option *ngFor = "let co of e_consultorio"  value="{{co.id}}">{{co.numero}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label class="">HORARIO:</label>
                <div class="">
                  <select class="form-control" placeholder="horario" [(ngModel)]="horario" >
                    <option value="0">Seleccionar ...</option>
                    <option *ngFor = "let ho of e_horario"  value="{{ho.id}}">{{ho.hora_entrada}} - {{ho.hora_salida}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-md-12" align="right">
                <button class="btn btn-azul" (click)="registrar()"><i class="fa fa-save"></i></button>
                <button class="btn btn-cancelar" (click)="gotoTurno()"><i class="fa fa-arrow-left"></i></button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
