    <!--app-spinner *ngIf="bandera"></app-spinner-->

    <div class="main-content">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="card panel panel-azul">
            <div class="panel-heading">
              Registrar Consultorio
            </div>

            <div class="content table-responsive table-full-width panel-body">
              <div class="form-group col-md-12">
                <label class="">CONSULTORIO:</label>
                <div class="">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="numero">
                </div>
              </div>
              
              <div class="form-group col-md-12" align="right">
                <button class="btn btn-azul" (click)="registrar()"><i class="fa fa-save"></i></button>
                <button class="btn btn-cancelar" (click)="gotoConsultorio()"><i class="fa fa-arrow-left"></i></button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
