<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card panel panel-azul">
        <div class="panel-heading">
          Registrar médico
        </div>

        <div class="content table-responsive table-full-width panel-body">
          <div class="form-group col-md-6">
            <label class="">DNI</label>
            <div class="">
              <input type="text" class="form-control" placeholder="">
            </div>
          </div>

          <div class="form-group col-md-6">
              <label class="">NOMBRES</label>
              <div class="">
                <input type="text" class="form-control" placeholder="">
              </div>
          </div>

          <div class="form-group col-md-6">
              <label class="">APELLIDO PATERNO</label>
              <div class="">
                <input type="text" class="form-control" placeholder="">
              </div>
          </div>
          
          <div class="form-group col-md-6">
              <label class="">APELLIDO MATERNO</label>
              <div class="">
                <input type="text" class="form-control" placeholder="">
              </div>
          </div>

          <div class="form-group col-md-6">
              <label class="">CORREO ELECTRÓNICO:</label>
              <div class="">
                <input type="text" class="form-control" placeholder="" >
              </div>
          </div>

          <div class="form-group col-md-6">
              <label class="">SEXO:</label>
            <div class="">
              <select  class="form-control" placeholder="Sexo" [(value)]="sexo" >
                <option value=0>Masculino</option>
                <option value=1>Femenino</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-6">
              <label class="">CELULAR:</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" >
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="">ESPECIALIDAD:</label>
          <div class="">
            <select  class="form-control" placeholder="Especialidad" [(value)]="especialidad" >
            <!-->
              Se cargan especialidades
            <!-->  
            </select>
          </div>
          </div>
            <div class="form-group col-md-6">
             <label class="">USUARIO:</label>
            <div class="">
             <input type="text" class="form-control" placeholder="" >
            </div>
          </div>
          <div class="form-group col-md-6">
              <label class="">CONTRASEÑA:</label>
            <div class="">
              <input type="text" class="form-control" placeholder="" >
            </div>
          </div>

          <div class="form-group col-md-12" align="right">
              <button class="btn btn-azul " (click)="registrar(dni,nombre,ap_paterno,ap_materno,sexo,email,celular)">Guardar</button>
              <button class="btn btn-cancelar" (click)="regresar()">Regresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>